<div class="container">  
  
    <mat-card>  
      <mat-toolbar color="accent">  
        <div align="center" style="color:white;text-align: right;">  
            Aplicación de citas para mantenimiento de vehículos
        </div>    
      </mat-toolbar>  
    <br><br>  
      <mat-card-content>  
        <form [formGroup]="citaForm"(ngSubmit)="onFormSubmit()">  
                <table style="width:100% !important;">  
                  <tr>  
                    <td class="tbl1" style="width:50%;">  
                      <mat-form-field style="width:100%;">  
                        <input formControlName="placa" matTooltip="Ingrese la placa" matInput placeholder="Placa">                          
                      </mat-form-field>  
                      <mat-error>  
                        <span *ngIf="!citaForm.get('placa').value && citaForm.get('placa').touched"></span>  
                      </mat-error>  
                    </td>  
                    <td class="tbl1" style="padding:10px;">
                        <span class="material-icons" matTooltip="Buscar" style="cursor:pointer;" (click)="buscar()">
                        search
                        </span>
                    </td>
                    <td class="tbl1" style="width:40%;">  
                      <mat-form-field style="width:95%;padding:2px;">  
                        <input matInput [matDatepicker]="picker"matTooltip="Ingrese la fecha" formControlName="fecha"placeholder="Seleccione la fecha de la cita">  
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>  
                        <mat-datepicker #picker></mat-datepicker>  
                      </mat-form-field>  
                      <mat-error>  
                        <span *ngIf="!citaForm.get('fecha').value && citaForm.get('fecha').touched"></span>  
                      </mat-error>  
                    </td> 
                    <td  class="tbl1" style="width:200px;">
                        <mat-form-field>
                            <mat-select formControlName="hora" matTooltip="Ingrese la hora" placeholder="Ingrese la hora">
                              <mat-option *ngFor="let fecha of listaHoras | async" [value]="fecha.horario">
                                {{ fecha.horario | date: 'HH:mm a' }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        <!-- <ngx-mat-timepicker formControlName="fecha" [stepMinute]="15" [enableMeridian]="true"></ngx-mat-timepicker> -->
                    </td> 
                  </tr>   
                  <tr>  
                    <td colspan="4">
                        <table style="width:100%;">
                            <tr>
                                <td align="right">  
                                    <button type="submit" style="margin:20px;" mat-raised-button color="accent"matTooltip="Crear cita" [disabled]="!citaForm.valid">Agregar Cita</button>      
                                    <button type="reset" style="margin:20px;" mat-raised-button color="accent" matTooltip="Limpiar" (click)="resetForm()">Limpiar</button>  
                                </td>
                            </tr>
                            <tr>
                                <td align="center">  
                                <p *ngIf="dataSaved" style="color:rgb(0, 128, 0);font-size:20px;font-weight:bold;" Class="success" align="center">  
                                    {{massage}}  
                                </p>  
                                </td>
                            </tr>
                        </table>
                    </td>
                    
                  </tr>  
                </table>  
    <br><br>  
          <table class="table table-striped" style="width:100% !important;">  
            <thead>
              <tr ngclass="btn-primary">  
                <th class="tbl2">Placa</th>  
                <th class="tbl2">Fecha</th>  
                <th class="tbl2">Estado</th>   
              </tr> 
            </thead>
            <tbody>
              <tr *ngFor="let cita of allCitas | async">  
                <td class="tbl2">{{cita.placa}}</td>  
                <td class="tbl2">{{cita.fecha | date:'medium' }}</td>  
                <td class="tbl2">{{cita.estado}}</td>   
              </tr>  
              <tr *ngIf="(allCitas | async) ==null">  
                <td style="color:darkgrey; color:black;" colspan="3">No tiene citas</td>     
              </tr>  
            </tbody>
            </table>  
            
        </form>  
      </mat-card-content>  
    </mat-card>  
    </div>  